<section class="portrait">

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.portrait_url }}" alt="" class="portrait-avatar">
	</a>
	<span class="portrait-prompt code">{{ prompt }}</span>

</section>
<section class="intro">
  <div class="container">
    <p class="lead">Greetings! My name is Konstantin Filatov.</p>
    <p> Currently, I'm doing my MA in theoretical linguistics at Saint-Petersburg State University. Below you can find my thoughts and essays and find out something <a href="/about">about me</a> and my <a href="/projects">projects</a>.</p>
  </div>
</section>

